.logo-img{

    border-radius: 50%;
    box-shadow: 0 0 5px black;

}
.bg-purple, .btn-purple{

    background-color: rgb(187, 127, 244) !important; 
}
.text-purple{

    color: rgb(187, 127, 244) !important;
}

.mycarousel{

    height: 90vh;
   
}
.read{

    padding: 5px;
    background-color:rgb(187, 127, 244) !important;
}
.read:hover{

    scale: 130%;
}
.carousel-inner h3{
    
    color:rgb(187, 127, 244) !important;
}
.carousel-inner p{
    color:black !important;
}

.mycontainer img{

    height: 20rem;
    width: 24rem;
}